@model Assignment1.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
	    <dt class = "col-sm-2">
		    @Html.DisplayNameFor(model => model.itemName)
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.itemName)
	    </dd>
	    <dt class = "col-sm-2">
		    @Html.DisplayNameFor(model => model.itemCost)
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.itemCost)
	    </dd>
	    <dt class = "col-sm-2">
		    @Html.DisplayNameFor(model => model.itemDetails)
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.itemDetails)
	    </dd>
	    <dt class = "col-sm-2">
		    @Html.DisplayNameFor(model => model.startDate)
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.startDate)
	    </dd>
	    <dt class = "col-sm-2">
		    @Html.DisplayNameFor(model => model.endDate)
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.endDate)
	    </dd>
	    <dt class = "col-sm-2">
		    @Html.DisplayNameFor(model => model.category)
	    </dt>
	    <dd class = "col-sm-10">
		    @Html.DisplayFor(model => model.category)
	    </dd>
    </dl>
    <div>
	    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
	    <a asp-action="Index">Back to List</a>
    </div>
</div>

