@model IEnumerable<Assignment1.Models.Item>

@{
    ViewData["Title"] = "ITEMS ";
}

<h1>ITEMS</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table  style="color:white; font-size:33px ;" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.itemName)
            </th>
	        <th style="margin-left:21px">
		        @Html.DisplayNameFor(model => model.itemCost)
	        </th>
	        <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
	        <td style="color:gold;  margin-left:21px ">
		        @Html.DisplayFor(modelItem => item.itemCost)
	        </td>
	        <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
            </td>
        </tr>
}
    </tbody>
</table>
